#External dependencies
dask==0.15.4
distributed==1.19.2
numpy==1.15.0
pytest==3.6.4

#Cape dependencies
git+https://github.com/bloomsburyai/cape-document-manager
git+https://github.com/bloomsburyai/cape-machine-reader
# Dinesh Garg changed the following to the modified requirement.txt file that he pushed on his own repo
#git+https://github.com/bloomsburyai/cape-document-qa
#git+https://github.com/dgarg77/cape-document-qa
